.milkera-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 40px;
    height: 100vh;
    position: relative; /* Add this for absolute positioning */
  }
  
  .milkera-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;;
    width: 35%;
    height: 35%;
    background-image: url('../assets/design.png'); /* Adjust the path as per your project structure */
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .logo-text-section {
    flex: 1;
    z-index: 1;
  }
  
  .logo-text-section h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 0.5em;
  }
  
  .description {
    font-size: 1em;
    color: #333;
    max-width: 600px;
  }
  
  .video-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-placeholder {
    width: 80%; /* Adjust as per your requirement */
    height: auto; /* Adjust as per your requirement */
    border-radius: 10px;
  }
  
  .sparkle-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2em;
    z-index: 2;
  }
  